input {
	text-align: center;
	height: 32px;
	font-size: 32px;
	width: 200px;
}

.bblock {
	display: table-cell;
	font-size: 32px;
	width: 150px;
	height: 120px;
	text-align: center;
	vertical-align: middle;
}

.wrap {
	display: table;	
	margin: auto;
}

.bblock1 {
	display: table-cell;
	font-size: 32px;
	width: 200px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
}

.wrap1 {
	display: table;
	margin: auto;
}
.space {
	width: 50px;
	height: 25px;
}